.talk-content {

  .video-wrap {
    margin: $spacing-unit 0;
    .layout {
      padding: 0;
    }
  }

  .video-header {
    position:relative;
    width:100%;
    height:0;
    padding-bottom:56.20%;
    box-shadow: 20px 0 10px -10px rgba(0, 0, 0, 0.5),
               -20px 0 10px -10px rgba(0, 0, 0, 0.5);

    .video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        max-width: 100%;
        width: 100%;
        height: auto;
      }

      .curtain {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0);
        transition: background-color ease 350ms;
      }

      .video-load-button {
        content: " ";
        background: url(/assets/img/videoplay.svg) 0 0 no-repeat;
        background-size: cover;
        background-color: white;
        width: 120px;
        display: block;
        position: absolute;
        right: calc(50% - 60px);
        top: calc(50% - 60px);
        height: 120px;
        box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
        border-radius: 60px;
        border: none;
        cursor: pointer;
      }

      &.loaded {
        .curtain {
          background-color: rgba(0, 0, 0, 1);
        }
        .video-load-button {
          display: none;
        }
      }
    }
  }

  .talk-description {
    margin-top: $spacing-unit;
    .breadcrumb {
      text-transform: uppercase;
      position: relative;
      top: 6px;
      left: 8px;
      font-weight: 300;
      font-size: 0.8em;
      a {
        color: $color-dark-medium;
        &:hover,
        &:active,
        &:focus {
          color: $link-color;
        }
      }
    }
    h1 {
      font-size: 2.8em;
      letter-spacing: -1px;
      font-weight: 700;
      line-height: 1em;
      @include media-query($on-palm) {
        font-size: 2em;
      }
    }
    h2 {
      font-size: 1.8em;
      line-height: 1.2em;
      color: $color-dark-medium;
      margin-bottom: $spacing-unit;
      @include media-query($on-palm) {
        font-size: 1.4em;
      }
    }
    p {
      font-family: $content-font-family;
      font-size: 1.2em;
      line-height: 1.8em;
    }
  }

}
